Inverter Monitor.json
[{"id":"a110c719.4112f8","type":"tab","label":"Inverter Monitoring","disabled":false,"info":""},{"id":"1230dd84.dafaa2","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b0a53640.9dbf88","882ebac6.a77068"],"x":1354,"y":757,"w":1092,"h":84},{"id":"18c9ddc8.9a6082","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f8f3775d.901688","720fe4a6.1e6bcc"],"x":1354,"y":259,"w":1032,"h":82},{"id":"20834ce6.8d1bf4","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c3348396.b53db","d2de9f2b.669fc"],"x":1354,"y":2217,"w":1092,"h":84},{"id":"25aec8d3.b8b768","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c3568685.81ef78","cb1e7ad4.81c828"],"x":1354,"y":2317,"w":1112,"h":84},{"id":"2938c2ea.ff16fe","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3f4eda30.38aa26","946ee36.8eb4b2"],"x":1354,"y":2519,"w":1112,"h":82},{"id":"2e11f045.59a47","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["39d5f99c.169d26","6f7700c7.bb98a","a8bd09fc.96fac8","bc6d6af7.919298","5b9c36a8.4e0188"],"x":1354,"y":899,"w":1252,"h":142},{"id":"39d5d44b.d59d3c","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2af60225.d02f7e","6b27d594.93504c"],"x":1354,"y":359,"w":1092,"h":82},{"id":"477c79c3.5d9fd8","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2be18278.dafc6e","724433bd.dec18c"],"x":1354,"y":1879,"w":1052,"h":82},{"id":"5fdbf14d.213e9","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["cb2324c4.8ae008","a84cda91.188958"],"x":1354,"y":1779,"w":1052,"h":82},{"id":"6081678f.e1c608","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c14ac2ca.87567","353778f7.a55438"],"x":1354,"y":559,"w":1072,"h":82},{"id":"65f91f4d.4d063","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d3cae472.30adc8","5972b08.5713a5"],"x":1354,"y":1399,"w":1112,"h":82},{"id":"91b5df3a.b5f0a","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bf3b746b.d00a68","55f3d932.386ab8"],"x":1354,"y":1259,"w":1092,"h":82},{"id":"9688c61a.a2c068","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["dcc1c384.82946","4a03d98.95a8928"],"x":1354,"y":1679,"w":1032,"h":82},{"id":"9cbc8b08.9962f8","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ac1ec453.c9d618","da493f19.b4d7f"],"x":1354,"y":2119,"w":1072,"h":82},{"id":"a517472f.a486d8","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ac5f66ed.036648","7a392b48.c9e944"],"x":1354,"y":1159,"w":1092,"h":82},{"id":"bee77910.bfb878","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["629a8ced.3330b4","6a9d2369.6ab6fc"],"x":1354,"y":1059,"w":1052,"h":82},{"id":"d501c535.e09788","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8e03670c.7b95b8","d834be79.7cdc2"],"x":1354,"y":659,"w":1032,"h":82},{"id":"d953e85e.db11e8","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2b7e18bb.2833b8","8f10d8fc.bffeb8"],"x":1354,"y":459,"w":1092,"h":82},{"id":"d959fc34.a475c","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["75c9b268.bac09c","e48cfc08.b7c8b"],"x":1354,"y":1579,"w":1032,"h":82},{"id":"e627b6a2.1ac7a8","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8c7e3eb4.bab79","8476801b.bb2c7"],"x":1354,"y":139,"w":1052,"h":82},{"id":"f3456d48.a37f7","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["13748da7.2c0cd2","2cc3c002.c63f7"],"x":1354,"y":2419,"w":1092,"h":82},{"id":"fa75d572.8f94d8","type":"group","z":"a110c719.4112f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7f343c76.239ed4","fa9040ba.01176"],"x":1354,"y":2019,"w":1072,"h":82},{"id":"7f343c76.239ed4","type":"function","z":"a110c719.4112f8","g":"fa75d572.8f94d8","name":"Grid_Import_day - 76 ","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 76, \n    'quantity': 1 }; \nmsg.topic = \"grid_gridbuy_day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":2060,"wires":[["3b81bf75.690ba"]]},{"id":"fa9040ba.01176","type":"function","z":"a110c719.4112f8","g":"fa75d572.8f94d8","name":"Grid_Import_day","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"grid_gridbuy_day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":2060,"wires":[["f9fe055.26195f8"]]},{"id":"ac1ec453.c9d618","type":"function","z":"a110c719.4112f8","g":"9cbc8b08.9962f8","name":"Grid_Export_Day - 77","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 77, \n    'quantity': 1 }; \nmsg.topic = \"grid_export_day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":2160,"wires":[["3b81bf75.690ba"]]},{"id":"da493f19.b4d7f","type":"function","z":"a110c719.4112f8","g":"9cbc8b08.9962f8","name":"Grid_Export_Day","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"grid_export_day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":2160,"wires":[["f9fe055.26195f8"]]},{"id":"2b7e18bb.2833b8","type":"function","z":"a110c719.4112f8","g":"d953e85e.db11e8","name":"Grid_Inverter_Voltage - 154","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 154, \n    'quantity': 1 }; \nmsg.topic = \"voltage_inverter\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":500,"wires":[["3b81bf75.690ba"]]},{"id":"8f10d8fc.bffeb8","type":"function","z":"a110c719.4112f8","g":"d953e85e.db11e8","name":"Grid_Inverter_Voltage","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"voltage_inverter\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2320,"y":500,"wires":[["f9fe055.26195f8"]]},{"id":"c14ac2ca.87567","type":"function","z":"a110c719.4112f8","g":"6081678f.e1c608","name":"Grid_Grid_Voltage - 150","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 150, \n    'quantity': 1 }; \nmsg.topic = \"voltage_grid\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":600,"wires":[["3b81bf75.690ba"]]},{"id":"353778f7.a55438","type":"function","z":"a110c719.4112f8","g":"6081678f.e1c608","name":"Grid_Grid_Voltage","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"voltage_grid\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":600,"wires":[["f9fe055.26195f8"]]},{"id":"39d5f99c.169d26","type":"function","z":"a110c719.4112f8","g":"2e11f045.59a47","name":"Grid_Inverter_Load - 178","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 178, \n    'quantity': 1 }; \nmsg.topic = \"load_inverter\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":940,"wires":[["3b81bf75.690ba"]]},{"id":"6f7700c7.bb98a","type":"function","z":"a110c719.4112f8","g":"2e11f045.59a47","name":"Grid_Inverter_Load","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"load_inverter\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":940,"wires":[["f9fe055.26195f8"]]},{"id":"a8bd09fc.96fac8","type":"function","z":"a110c719.4112f8","g":"2e11f045.59a47","name":"Grid_Grid_Load - 167","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 167, \n    'quantity': 1 }; \nmsg.topic = \"load_grid\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":1000,"wires":[["3b81bf75.690ba"]]},{"id":"bc6d6af7.919298","type":"function","z":"a110c719.4112f8","g":"2e11f045.59a47","name":"Grid_Grid_Load","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"load_grid\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2300,"y":1000,"wires":[["5b9c36a8.4e0188"]]},{"id":"629a8ced.3330b4","type":"function","z":"a110c719.4112f8","g":"bee77910.bfb878","name":"Grid_Grid_CT - 172","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 172, \n    'quantity': 1 }; \nmsg.topic = \"grid_ct\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":1100,"wires":[["3b81bf75.690ba"]]},{"id":"6a9d2369.6ab6fc","type":"function","z":"a110c719.4112f8","g":"bee77910.bfb878","name":"Grid_Grid_CT","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"grid_ct\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2300,"y":1100,"wires":[["5b9c36a8.4e0188","f9fe055.26195f8"]]},{"id":"8e03670c.7b95b8","type":"function","z":"a110c719.4112f8","g":"d501c535.e09788","name":"Battery_Volts - 183","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 183, \n    'quantity': 1 }; \nmsg.topic = \"battery_volt\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":700,"wires":[["3b81bf75.690ba"]]},{"id":"d834be79.7cdc2","type":"function","z":"a110c719.4112f8","g":"d501c535.e09788","name":"Battery_Volts","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 100;\n} else {\n    msg.payload = (a) / 100;\n}\nif (msg.topic === \"battery_volt\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":700,"wires":[["f9fe055.26195f8"]]},{"id":"f8f3775d.901688","type":"function","z":"a110c719.4112f8","g":"18c9ddc8.9a6082","name":"Battery_SoC 184","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 184, \n    'quantity': 1 }; \nmsg.topic = \"battery_soc\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":300,"wires":[["3b81bf75.690ba"]]},{"id":"720fe4a6.1e6bcc","type":"function","z":"a110c719.4112f8","g":"18c9ddc8.9a6082","name":"Battery_SoC","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"battery_soc\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2290,"y":300,"wires":[["f9fe055.26195f8"]]},{"id":"bf3b746b.d00a68","type":"function","z":"a110c719.4112f8","g":"91b5df3a.b5f0a","name":"Battery_Output_Power - 190","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 190, \n    'quantity': 1 }; \nmsg.topic = \"battery_output_power\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":1300,"wires":[["3b81bf75.690ba"]]},{"id":"55f3d932.386ab8","type":"function","z":"a110c719.4112f8","g":"91b5df3a.b5f0a","name":"Battery_Output_Power","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (0 - a + 65535) / 1;\n} else {\n    msg.payload = (0 - a) / 1;\n}\nif (msg.topic === \"battery_output_power\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":1300,"wires":[["f9fe055.26195f8"]]},{"id":"d3cae472.30adc8","type":"function","z":"a110c719.4112f8","g":"65f91f4d.4d063","name":"Battery_Output_Current - 191","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 191, \n    'quantity': 1 }; \nmsg.topic = \"battery_output_current\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":1440,"wires":[["3b81bf75.690ba"]]},{"id":"5972b08.5713a5","type":"function","z":"a110c719.4112f8","g":"65f91f4d.4d063","name":"Battery_Output_Current","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (0 - a + 65535) / 100;\n} else {\n    msg.payload = (0 - a) / 100;\n}\nif (msg.topic === \"battery_output_current\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2330,"y":1440,"wires":[["f9fe055.26195f8"]]},{"id":"8c7e3eb4.bab79","type":"function","z":"a110c719.4112f8","g":"e627b6a2.1ac7a8","name":"Overall_State - 59","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 59, \n    'quantity': 1 }; \nmsg.topic = \"overall_state\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":180,"wires":[["3b81bf75.690ba"]]},{"id":"8476801b.bb2c7","type":"function","z":"a110c719.4112f8","g":"e627b6a2.1ac7a8","name":"Overall_State","func":"if (msg.topic === \"overall_state\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2300,"y":180,"wires":[["f9fe055.26195f8"]]},{"id":"c3348396.b53db","type":"function","z":"a110c719.4112f8","g":"20834ce6.8d1bf4","name":"Battery_Charge_Day - 70","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 70, \n    'quantity': 1 }; \nmsg.topic = \"overall_battery_charge_day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":2260,"wires":[["3b81bf75.690ba"]]},{"id":"d2de9f2b.669fc","type":"function","z":"a110c719.4112f8","g":"20834ce6.8d1bf4","name":"Battery_Charge_Day","func":"var a\na = (msg.payload.data / 10)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"overall_battery_charge_day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":2258,"wires":[["f9fe055.26195f8"]]},{"id":"e39abacc.1e58a8","type":"gate","z":"a110c719.4112f8","name":"Monitor_Gate","controlTopic":"monitor_gate","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":380,"y":1200,"wires":[["a11aaef5.5f5d1"]]},{"id":"626edfad.fed49","type":"inject","z":"a110c719.4112f8","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":150,"y":1200,"wires":[["e39abacc.1e58a8"]]},{"id":"c3568685.81ef78","type":"function","z":"a110c719.4112f8","g":"25aec8d3.b8b768","name":"Battery_Discharge_Day - 71","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 71, \n    'quantity': 1 }; \nmsg.topic = \"overall_battery_discharge_day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":2360,"wires":[["3b81bf75.690ba"]]},{"id":"cb1e7ad4.81c828","type":"function","z":"a110c719.4112f8","g":"25aec8d3.b8b768","name":"Battery_Discharge_Day","func":"var a\na = (msg.payload.data / 10)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"overall_battery_discharge_day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2330,"y":2358,"wires":[["f9fe055.26195f8"]]},{"id":"5b9c36a8.4e0188","type":"function","z":"a110c719.4112f8","g":"2e11f045.59a47","name":"Grid_Load_Calc","func":"var v1value = flow.get(\"v1value\");\nvar v2value = flow.get(\"v2value\");\nvar total;\n\nif (msg.topic == \"grid_ct\") {\n    v1value = msg.payload;\n    flow.set(\"v1value\",msg.payload);\n}else if (msg.topic == \"load_grid\"){\n    v2value = msg.payload;\n    flow.set(\"v2value\",msg.payload);\n}\nif (v1value !== undefined && v2value !== undefined) {\n   total = v1value - v2value;\n   msg.payload = total;\n   msg.topic = 'grid_load_calc';\n   return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2500,"y":1000,"wires":[["f9fe055.26195f8"]]},{"id":"b0a53640.9dbf88","type":"function","z":"a110c719.4112f8","g":"1230dd84.dafaa2","name":"Battery_Charge_Volts - 312","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 312, \n    'quantity': 1 }; \nmsg.topic = \"battery_charge_volts\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":800,"wires":[["3b81bf75.690ba"]]},{"id":"882ebac6.a77068","type":"function","z":"a110c719.4112f8","g":"1230dd84.dafaa2","name":"Battery_Charge_Volts","func":"var a\na = (msg.payload.data / -1)\nif (a > 32767) {\n  msg.payload = (0 - a + 65535) / 100;\n} else {\n    msg.payload = (0 - a) / 100;\n}\nif (msg.topic === \"battery_charge_volts\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":798,"wires":[["f9fe055.26195f8"]]},{"id":"2af60225.d02f7e","type":"function","z":"a110c719.4112f8","g":"39d5d44b.d59d3c","name":"Grid_Grid_Frequency - 079","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 079, \n    'quantity': 1 }; \nmsg.topic = \"grid_frequency\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":400,"wires":[["3b81bf75.690ba"]]},{"id":"6b27d594.93504c","type":"function","z":"a110c719.4112f8","g":"39d5d44b.d59d3c","name":"Grid_Grid_Frequency","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 100;\n} else {\n    msg.payload = (a) / 100;\n}\nif (msg.topic === \"grid_frequency\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":400,"wires":[["f9fe055.26195f8"]]},{"id":"75c9b268.bac09c","type":"function","z":"a110c719.4112f8","g":"d959fc34.a475c","name":"Temperature Battery - 182","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 182, \n    'quantity': 1 }; \nmsg.topic = \"temp_batt\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":1620,"wires":[["3b81bf75.690ba"]]},{"id":"dcc1c384.82946","type":"function","z":"a110c719.4112f8","g":"9688c61a.a2c068","name":"Temperature Environment - 095","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 095, \n    'quantity': 1 }; \nmsg.topic = \"temp_enviro\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":1720,"wires":[["3b81bf75.690ba"]]},{"id":"cb2324c4.8ae008","type":"function","z":"a110c719.4112f8","g":"5fdbf14d.213e9","name":"Temperature DC Transformer - 090","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 090, \n    'quantity': 1 }; \nmsg.topic = \"temp_DCtrans\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":1820,"wires":[["3b81bf75.690ba"]]},{"id":"2be18278.dafc6e","type":"function","z":"a110c719.4112f8","g":"477c79c3.5d9fd8","name":"Temperature Radiator - 091","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 091, \n    'quantity': 1 }; \nmsg.topic = \"temp_radiator\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":1920,"wires":[["3b81bf75.690ba"]]},{"id":"e48cfc08.b7c8b","type":"function","z":"a110c719.4112f8","g":"d959fc34.a475c","name":"Temp_Batt","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = ((a - 65535)-1000) / 10;\n} else {\n    msg.payload = ((a)-1000) / 10;\n}\nif (msg.topic === \"temp_batt\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":1620,"wires":[["f9fe055.26195f8"]]},{"id":"4a03d98.95a8928","type":"function","z":"a110c719.4112f8","g":"9688c61a.a2c068","name":"temp_enviro","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"temp_enviro\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":1720,"wires":[["f9fe055.26195f8"]]},{"id":"a84cda91.188958","type":"function","z":"a110c719.4112f8","g":"5fdbf14d.213e9","name":"temp_DCtrans","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 100;\n} else {\n    msg.payload = (a) / 100;\n}\nif (msg.topic === \"temp_DCtrans\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":1820,"wires":[["f9fe055.26195f8"]]},{"id":"724433bd.dec18c","type":"function","z":"a110c719.4112f8","g":"477c79c3.5d9fd8","name":"temp_radiator","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = ((a - 65535)-1000) / 10;\n} else {\n    msg.payload = ((a)-1000) / 10;\n}\nif (msg.topic === \"temp_radiator\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":1920,"wires":[["f9fe055.26195f8"]]},{"id":"ac5f66ed.036648","type":"function","z":"a110c719.4112f8","g":"a517472f.a486d8","name":"Inverter_total_power - 175","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 175, \n    'quantity': 1 }; \nmsg.topic = \"invrt_total_pwr\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":1200,"wires":[["3b81bf75.690ba"]]},{"id":"7a392b48.c9e944","type":"function","z":"a110c719.4112f8","g":"a517472f.a486d8","name":"Inverter_total_power","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"invrt_total_pwr\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":1200,"wires":[["f9fe055.26195f8"]]},{"id":"fbea925b.1d7f1","type":"link in","z":"a110c719.4112f8","name":"ModBusRead_In","links":["c9dbf7d1.cf6138"],"x":1935,"y":1500,"wires":[["bc6d6af7.919298","fa9040ba.01176","da493f19.b4d7f","8f10d8fc.bffeb8","353778f7.a55438","6f7700c7.bb98a","6a9d2369.6ab6fc","d834be79.7cdc2","720fe4a6.1e6bcc","55f3d932.386ab8","5972b08.5713a5","8476801b.bb2c7","d2de9f2b.669fc","cb1e7ad4.81c828","882ebac6.a77068","6b27d594.93504c","e48cfc08.b7c8b","4a03d98.95a8928","a84cda91.188958","724433bd.dec18c","7a392b48.c9e944","2cc3c002.c63f7","946ee36.8eb4b2"]]},{"id":"3b81bf75.690ba","type":"link out","z":"a110c719.4112f8","name":"ModBusRead_Out","links":["33447edd.f55762"],"x":1835,"y":1500,"wires":[]},{"id":"13748da7.2c0cd2","type":"function","z":"a110c719.4112f8","g":"f3456d48.a37f7","name":"DayActive PowerWh - 60","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 60, \n    'quantity': 1 }; \nmsg.topic = \"dayactive_powerWh\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":2460,"wires":[["3b81bf75.690ba"]]},{"id":"3f4eda30.38aa26","type":"function","z":"a110c719.4112f8","g":"2938c2ea.ff16fe","name":"DayReactive_PowerWh - 061","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 61, \n    'quantity': 1 }; \nmsg.topic = \"dayreactive_powerWh\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":2560,"wires":[["3b81bf75.690ba"]]},{"id":"2cc3c002.c63f7","type":"function","z":"a110c719.4112f8","g":"f3456d48.a37f7","name":"DayActive PowerWh","func":"var a\na = (msg.payload.data / 10)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"dayactive_powerWh\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":2460,"wires":[["f9fe055.26195f8"]]},{"id":"946ee36.8eb4b2","type":"function","z":"a110c719.4112f8","g":"2938c2ea.ff16fe","name":"DayReactive_PowerWh","func":"var a\na = (msg.payload.data / 10)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"dayreactive_powerWh\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":2560,"wires":[["f9fe055.26195f8"]]},{"id":"f9fe055.26195f8","type":"link out","z":"a110c719.4112f8","name":"Send to MQTT ","links":["118dd23d.2cd0de"],"x":2775,"y":1060,"wires":[]},{"id":"a11aaef5.5f5d1","type":"cycle","z":"a110c719.4112f8","name":"","outputs":22,"x":570,"y":1200,"wires":[["1e206613.924a6a"],["dbbf82e3.8c544"],["44104e40.f0da7"],["725e9cc5.4d2744"],["ccc7da16.555e88"],["54111865.f1d5b8"],["890765fa.933b98"],["398026c.a9ff9da"],["66cc0421.23f6fc"],["77917c0d.382304"],["f4d35614.958db8"],["56a8c90b.e5d478"],["480a107d.6083a"],["45141505.d59c7c"],["cd16f811.45e558"],["334a789e.09a0c8"],["96e0be56.b4269"],["25b92652.28923a"],["301b1158.1abfee"],["60b2781a.a23f48"],["d448d13f.ea5a9"],["dd771b31.1b58a8"]]},{"id":"66cc0421.23f6fc","type":"change","z":"a110c719.4112f8","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1100,"wires":[["629a8ced.3330b4"]]},{"id":"ccc7da16.555e88","type":"change","z":"a110c719.4112f8","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":700,"wires":[["8e03670c.7b95b8"]]},{"id":"dbbf82e3.8c544","type":"change","z":"a110c719.4112f8","name":"Frequency","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"hz","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":400,"wires":[["2af60225.d02f7e"]]},{"id":"1e206613.924a6a","type":"change","z":"a110c719.4112f8","name":"Percentage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"battery","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"%","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":300,"wires":[["f8f3775d.901688"]]},{"id":"cd16f811.45e558","type":"change","z":"a110c719.4112f8","name":"Temperature","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"째C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1820,"wires":[["cb2324c4.8ae008"]]},{"id":"56a8c90b.e5d478","type":"change","z":"a110c719.4112f8","name":"Current","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"current","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"A","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1440,"wires":[["d3cae472.30adc8"]]},{"id":"301b1158.1abfee","type":"change","z":"a110c719.4112f8","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2260,"wires":[["c3348396.b53db"]]},{"id":"54111865.f1d5b8","type":"change","z":"a110c719.4112f8","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":800,"wires":[["b0a53640.9dbf88"]]},{"id":"44104e40.f0da7","type":"change","z":"a110c719.4112f8","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":500,"wires":[["2b7e18bb.2833b8"]]},{"id":"725e9cc5.4d2744","type":"change","z":"a110c719.4112f8","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":600,"wires":[["c14ac2ca.87567"]]},{"id":"398026c.a9ff9da","type":"change","z":"a110c719.4112f8","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1000,"wires":[["a8bd09fc.96fac8"]]},{"id":"77917c0d.382304","type":"change","z":"a110c719.4112f8","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1200,"wires":[["ac5f66ed.036648"]]},{"id":"890765fa.933b98","type":"change","z":"a110c719.4112f8","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":940,"wires":[["39d5f99c.169d26"]]},{"id":"f4d35614.958db8","type":"change","z":"a110c719.4112f8","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1300,"wires":[["bf3b746b.d00a68"]]},{"id":"334a789e.09a0c8","type":"change","z":"a110c719.4112f8","name":"Temperature","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"째C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1920,"wires":[["2be18278.dafc6e"]]},{"id":"45141505.d59c7c","type":"change","z":"a110c719.4112f8","name":"Temperature","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"째C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1720,"wires":[["dcc1c384.82946"]]},{"id":"480a107d.6083a","type":"change","z":"a110c719.4112f8","name":"Temperature","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"째C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1620,"wires":[["75c9b268.bac09c"]]},{"id":"25b92652.28923a","type":"change","z":"a110c719.4112f8","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2160,"wires":[["ac1ec453.c9d618"]]},{"id":"60b2781a.a23f48","type":"change","z":"a110c719.4112f8","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2360,"wires":[["c3568685.81ef78"]]},{"id":"dd771b31.1b58a8","type":"change","z":"a110c719.4112f8","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2560,"wires":[["3f4eda30.38aa26"]]},{"id":"96e0be56.b4269","type":"change","z":"a110c719.4112f8","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2060,"wires":[["7f343c76.239ed4"]]},{"id":"d448d13f.ea5a9","type":"change","z":"a110c719.4112f8","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2460,"wires":[["13748da7.2c0cd2"]]}]