Publish to MQTT and DB.json
[{"id":"28c7d530.54db9a","type":"tab","label":"Publish Externally","disabled":false,"info":""},{"id":"50585779.327488","type":"mqtt out","z":"28c7d530.54db9a","name":"Publish to MQTT","topic":"","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f35ad748.1790a8","x":830,"y":140,"wires":[]},{"id":"118dd23d.2cd0de","type":"link in","z":"28c7d530.54db9a","name":"MQTT Publish","links":["752a8702.286638","bad983f5.47048"],"x":295,"y":220,"wires":[["8bda0137.80198","dc909889.782338"]]},{"id":"8bda0137.80198","type":"function","z":"28c7d530.54db9a","name":"Assemble Value","func":"//var fulltopic\nmsg.shorttopic = msg.topic\nmsg.topic = \"homeassistant/sensor/SunSynk\" + \"/\" + \"/\" + msg.topic + \"/\" + \"value\";\nmsg.topic = msg.topic.replace(\"//\", \"/\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":140,"wires":[["50585779.327488","6fde1ced.cab524","be3ebae7.6ed828"]]},{"id":"6fde1ced.cab524","type":"debug","z":"28c7d530.54db9a","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":790,"y":200,"wires":[]},{"id":"dc909889.782338","type":"function","z":"28c7d530.54db9a","name":"Convert to Influx Friendly Value","func":"lowertopic = msg.topic\nlowertopic = lowertopic.toLowerCase()\nmsg.payload = [\n    {\n        measurement: lowertopic,\n        fields: {\n            value: Number(msg.payload),\n        },\n        timestamp: new Date()\n    }]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":580,"wires":[["294abb40.fafc64","eb8183bd.14e79"]]},{"id":"294abb40.fafc64","type":"debug","z":"28c7d530.54db9a","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"topic","targetType":"msg","statusVal":"payload","statusType":"auto","x":810,"y":620,"wires":[]},{"id":"eb8183bd.14e79","type":"influxdb batch","z":"28c7d530.54db9a","influxdb":"332d824c.c7d53e","precision":"","retentionPolicy":"","name":"Send to Influx","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":820,"y":580,"wires":[]},{"id":"bf96e450.75e2c8","type":"comment","z":"28c7d530.54db9a","name":"Send to influxdb","info":"","x":480,"y":540,"wires":[]},{"id":"6da1888c.d76a78","type":"comment","z":"28c7d530.54db9a","name":"Send to MQTT","info":"","x":480,"y":100,"wires":[]},{"id":"be3ebae7.6ed828","type":"function","z":"28c7d530.54db9a","name":"Assemble Config","func":"//var fulltopic\nmsg.topic = \"homeassistant/sensor/SunSynk\" + \"/\" + \"/\" + msg.shorttopic + \"/\" + \"config\";\nmsg.topic = msg.topic.replace(\"//\", \"/\");\nmsg.payload = {\n  \"unit_of_measurement\": msg.unit,\n  \"state_topic\": \"homeassistant/sensor/SunSynk\" + \"/\" + msg.shorttopic + \"/\" + \"value\",\n  \"name\": \"SunSynk_\" + msg.shorttopic,\n  \"unique_id\": msg.shorttopic,\n  \"device\": {\n    \"identifiers\": [\n      \"SunSynk\"\n    ],\n    \"name\": \"SunSynk\",\n    \"model\": \"SynSynk\",\n    \"manufacturer\": \"SunSynk\"\n  }  \n}\n  if (msg.deviceclass != \"\") {\n     msg.payload.device_class = msg.deviceclass\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":280,"wires":[["cf57d2c1.c918f","d329b5a1.56bb08"]]},{"id":"cf57d2c1.c918f","type":"mqtt out","z":"28c7d530.54db9a","name":"Publish to MQTT","topic":"","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f35ad748.1790a8","x":1150,"y":340,"wires":[]},{"id":"d329b5a1.56bb08","type":"debug","z":"28c7d530.54db9a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1070,"y":400,"wires":[]},{"id":"f35ad748.1790a8","type":"mqtt-broker","name":"SunSynk","broker":"192.168.1.20","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"332d824c.c7d53e","type":"influxdb","hostname":"192.168.1.15","port":"8086","protocol":"http","database":"InverterDB","name":"Home Assistant Inverter","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false}]